 .App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
 }

  
 form {
  width: 100vh;
 }

 .formItems {
   display: flex;
   flex-direction: column;
    
 }

  
 .buttonContainer {
  margin-top:  15px;
  align-self: center;

 }


button {
   
  width: 128px;
}

 .check{
   background-color: lavender;
   border-radius: 5px;
   margin-bottom: 5px;
  
}
 